*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

main{
    position: relative;
    margin: auto;
}

    
/*
*
*
* this is the css for nav bar
*/
nav{
    position: relative;
    top: 18px;
    z-index: 9998;
    
    display: block;
    width: 100%;
    height: 36px;
    text-align: center;
    float: left;

    margin-top: 150px;
}
nav ul{
display: block;

}
nav ul li a{

    display: inline-block;
    widows: 7%;
    height: 35px;
}

/*
*
*
* this is the css for the center class
*/
.center{
position: relative;
z-index: -1;
display: block;
width: 100%;
height: 538px;
background-image: url("https://raw.githubusercontent.com/trox115/apple/development/img/background.jpg");
background-size: cover;
background-position: bottom;

background: -webkit-gradient (linear, 0 0, 100%, from (rgba(0,0,0,.45)));
}

header{
    position: relative;
    top: 30px;
    width: 100%;
    height: 335px;
    text-align: center;
    padding: 50px 0;
}

.title1{
    position: relative;

    display: inline;
    width: 68%;

    margin: 0 230px; 
    text-align: center;


}
.title2{

}

/*
*
*
* this is the css for the promo section
*/
.promo{
    /*positioning*/
    position: relative;

    /*Box model*/
    display: inline-block;
    width: 100%;    

    /*typography*/
    /*visual*/
    
    
}

.promo ul a{
    position: relative;
    display: inline;
    
    z-index: 1;
    
}
.promo img{
    
    width: 337px;
}
#one,
#two,
#three{
    float: left;
}




/*
*
+
*  styling for the whole footer
*/
footer{
    position: relative;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;

    width: 100%;
    height: 90px;
}

.wrapper{
    /*Positioning*/
    position: relative;
    left: 14%;
    right: 14%;
    z-index: 2;

    /*Box model*/
    display: block;
    width: 80%;

    /*Typography*/
    font-size: 10px;
    color: #6e6e6e;

    /*Visual*/
    padding: 10px 0 26 0;
   

}

.left{
    /*positioning*/
    position: relative;

    /*Box model*/
    display: block;
    float: left;
    width: 50%;
    height: 27px;

    /*Typography*/

    /*Visual*/
    padding-top: 15px;
}

.right{
    position: relative;
    display: inline;
    float: right;
    width: 50%;
    

    color: #0088cc;
    padding-top: 15px;
}
.right li{   display: inline;}

.right li a{
    padding: 5px;
    border-right: 1px solid gray;
}
#usa{
    border-right: none;
}
.left-bottom{
    position: relative;
    display: block;
    float: left;
    width: 50%;
    

    padding-top: 15px;
}

.left-bottom a{
    padding: 5px;
}
#lefted{
   
    border-right: 1px solid gray;
}

